<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704898986016-fk01lqb51hb3plajcjpos8ep88s7ujqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704898986016-fk01lqb51hb3plajcjpos8ep88s7ujqv</string>
	<key>API_KEY</key>
	<string>AIzaSyDr5MOXXufTcOW3kNkpRwbcJThVSxxFyEE</string>
	<key>GCM_SENDER_ID</key>
	<string>704898986016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orbitalApp</string>
	<key>PROJECT_ID</key>
	<string>orbital-1210</string>
	<key>STORAGE_BUCKET</key>
	<string>orbital-1210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704898986016:ios:efe796a64a31c423a18c45</string>
	<key>DATABASE_URL</key>
	<string>https://orbital-1210-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>